<div class="change-password-page">

  <div class="page-logos">
    <img src="assets/eccmslogo.png" alt="E-CCMS Logo">
    <img src="assets/icpep.png" alt="ICPEP Logo">
  </div>

  <div class="top-links">
    <a>About us</a>
    <a>Contact Us</a>
  </div>

  <div class="change-password-card">

    <h3 class="title">Change Password</h3>
    <p class="subtitle">Create a new password for your account.</p>

    <div *ngIf="error" class="notif error-box">{{ message }}</div>
    <div *ngIf="success" class="notif success-box">{{ message }}</div>

    <form [formGroup]="resetForm" (ngSubmit)="submitReset()">
      <div class="auth-input-group">
        <span class="auth-icon">🔒</span>
        <input
          type="password"
          placeholder="New Password"
          formControlName="password">
      </div>

      <p class="field-error" *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('required')">
        Password is required.
      </p>
      <p class="field-error" *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters.
      </p>

      <div class="auth-input-group">
        <span class="auth-icon">🔐</span>
        <input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword">
      </div>

      <p class="field-error" *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.hasError('required')">
        Confirm Password is required.
      </p>

      <button type="submit" class="change-password-btn" [disabled]="loading">
        {{ loading ? 'Saving...' : 'Save New Password' }}
      </button>
    </form>
  </div>
</div>

