.app-header {
  display: flex;
  align-items: flex-start;   /* top aligned */
  justify-content: flex-start; /* left aligned */
  gap: 10px; /* space between logos */
  padding: 10px;
background: linear-gradient(135deg, #f4f8f6, #e4f0ea);
}

.app-logo {
  height: 90px;   /* adjust size if needed */
  width: auto;
}



